@font-face {
  font-family: Varela Round;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: Roboto Black;
    src: url(../fonts/Roboto-Black.ttf);
}

body {
    margin: 0;
    background-image: url(hi.png);
    background-repeat: no-repeat;
	background-size: cover;	
}
#image {
      position: fixed;
   
    top: 38.5%;
    left:38.2%;
      border-color: #A52A2A;
    border: 1px solid #A52A2A;
}
#name {
position: absolute;
    top: 45%;
    left: 46%;
    font-size: 25px;
    width: 300px;
    color: #A52A2A;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Roboto Black;
}
#count {
    position: absolute;
    top:60%;
    left: 29.5%;
    font-size: 85px;
    width: autopx !important;
}
body {
    background-color:transparent;
    font-family: Roboto Black;
}
